/* Example custom styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
  }
  *{
    margin: 0;
    padding: 0;
    
  }
  .error {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
    display: block;
}

.custom-text {
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;                   
    font-weight: bold;                 
}
.resume-btn {
    background-color: #007BFF;
    color: #FFF;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 10px;
   
  }

  /* Navbar Styles */
.navbar {
    background-color: #ffffff; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    padding: 0.8rem 0; 
    transition: background-color 0.3s ease; 
}


.navbar.scrolled {
    background-color: #343a40; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
}


.navbar-nav .nav-item .nav-link {
    font-size: 1.2rem; 
    font-weight: 500;
    padding-left: 25px; 
}

.navbar-nav .nav-item .nav-link.active {
    color: #007bff; 
    font-weight: bold; 
}

.navbar-nav .nav-item .nav-link:hover {
    color: #007bff; 
    text-decoration: underline;
}



.home-section{
    background: linear-gradient(45deg,rgb(234, 120, 120),rgb(222, 184, 113),rgb(100, 211, 94));
    padding-top: 30px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.home-section h1 {
    text-align: center;
    font-size: 36px;
    color: #333;
    margin: 20px 0;
}

.home-section .continuous-animation {
    animation: colorChange 3s infinite alternate ease-in-out;
}

.home-section .pulse-animation {
    color: #007bff;
    font-weight: bold;
    display: inline-block;
    animation: pulse 2s infinite ease-in-out;
}

/* Keyframes for Color Change */
@keyframes colorChange {
    0% {
        color: #007bff;
    }
    50% {
        color: #ff5722;
    }
    100% {
        color: #4caf50;
    }
}

/* Keyframes for Pulse Effect */
@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.8;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}



/* About Me Section */
#about, #projects{
    padding: 2rem 0;
}
.about-section {
    max-width: 950px;
    margin: 0 auto;
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.about-section p{
    font-size: 1.2rem;
}

.skills-set {
    width: 550px;
    margin: auto;
}
/* Image Styling */
.skills-div .img-fluid {
    width: 550px;
    height: 350px;
    border-radius: 10px; 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    
}

.skills-div .img-fluid:hover {
    transform: scale(1.05); 
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3); 
}

/* Skills Section */
.skills-div .skills {
    font-weight: 600;
    color: #007bff; 
}

.skills-div h5 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
}

.skills-div h5 i {
    margin-left: 0.5rem;
    font-size: 1.2rem;
}


.skills-div .progress {
    border-radius: 5px;
    background-color: #e9ecef;
   
}

.skills-div .skill-bar {
    border-radius: 5px;
    background-image: linear-gradient(90deg, #007bff, #0056b3);
    
}






/* General styling for the project section */
.project-section {
    text-align: center;
    background-color: #b4dadf;
    padding: 40px 50px;
    border-radius: 10px; 
}

.project-section h2 , .about-section h2, .contact-section h1{
    font-size: 2.3rem;
    color: #333;
    margin-bottom: 15px;
    font-weight: bold;
   
}

/* Styling for project cards */
.project-section .card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.project-section .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}


.project-section .card img {
    height: 400px; 
    object-fit: cover; 
    border-bottom: 3px solid #007bff; 
    
}
.project-section .card img:hover{
    opacity: .7;
    cursor: pointer;
}


.project-section .card-body {
    text-align: center;
    padding: 20px;
    background-color: #fff;
}

.project-section .card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.project-section .card-text {
    font-size: 0.95rem;
    color: #666;
    margin-bottom: 20px;
}

.project-section .btn-primary {
    background-color: #007bff;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.project-section .btn-primary:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}



/* contact section styling */

.contact-section {
    padding: 50px;
    background-color: #f9f9f9;
}
.contact-section h1{
    text-align: center;
}
.contact-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #08672f;
    margin-top: 30px;
    width: 600px;
    height: auto;
    color: white;
}
.contact-info h3{
    color: #dce6b7;
    margin-bottom: 30px;
    padding-top: 20px;
    text-align: center; 
}

.list-unstyled li {
    margin-bottom: 20px;
    font-size: 16px;
}

.fa {
    margin-right: 8px;
    color: #007bff; 
}
.form-info{
    background-color: #112946;
    width: 600px;
    height: auto;
    color: white;
    display: block;
    margin: auto;
    padding: 40px 60px;
    text-align: left;
    margin-top: 30px;
}
.form-info h3{
    color: #dce6b7;
    margin-bottom: 20px;
    
}

.contact-info a {
    color: #0066cc;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.contact-form button {
    background-color: #0066cc;
    color: #fff;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #005bb5;
}



@media (max-width: 1025px) {
    .contact-info{
      margin-left: 140px;
    }
    .skills-set {
        width: 430px;
        margin: auto;
    }
}

@media (max-width: 991px) {
    .navbar-collapse.hide-navbar {
        display: none;
    }
    #about, #projects{
        padding: 1rem 0;
    }
    .project-section .card img{
        height: 300px;
    }
    .project-section{
        padding: 15px ;
    }
   
    .contact-info{
       
        background-color: #08672f;
      margin-left: 20px;
        width: 600px;
        height: auto;
        color: white;
        padding-top: 10px;
    }
}

/* Adjustments for mobile view */
@media (max-width: 767px) {
    .navbar .navbar-nav {
        text-align: center; 
    }

    .navbar .navbar-toggler {
        margin-left: auto; 
    }
    .project-section h2 , .about-section h2, .contact-section h1{
        font-size: 1.7rem;
        margin-bottom: 10px;
    }

   
    .about-section p{
        font-size: 1rem;
    }
    .skills-div .img-fluid{
        width: 350px;
        height: 200px;
    }
    .skills-div h5{
        font-size: 1.1rem;
    }
    /* .project-section{
        padding: 15px ;
    } */
    .project-section .card img{
        height: 250px;
    }
    .contact-section{
        padding: 10px;
    }
    .form-info{
        padding: 20px;
    }
    .contact-info{
      margin-left: 0;
      
    }
   
}












  
